extend ../layouts/default.jade

block content
  div.container.columns(class = data.class)
    div.column-left
      article.animals-wrap
        h2 Удзельнікі праекту
        if data.wolves
          each wolf in data.wolves
            +animal-profile(wolf)

      div.previews-wrap
        h2 Апошнія навіны
        if data.post
          +preview-news(data.post)

    div.column-right
      section.info-text
        article
          h1 Вітаем на тэрыторыі ваўкоў!
          p Гэты блог расказвае пра шэрых драпежнікаў, якія жывуць у Белавежская пушчы. Ці варта ваўкоў баяцца і ў лес не хадзіць? Уся праўда — толькі і ў нас! :)
          p Некалькі ваўкоў ходзяць па Белавежскай пушчы са
            b  спецыяльнымі ашыйнікі з GPS-перадатчыкамі
            |  і перасылаюць каардынаты блукання па лесе даследчыкам. Кропкі наносяцца на інтэрактыўную карту, а самыя цікавыя гісторыі з жыцця драпежнікаў публікуюцца ў
            a(href="/blog")  “Воўчым блогу“.
          p Папуляцыйная экалогія воўка вывучаецца ў рамках пяцігадовай Міжнароднай прыродаахоўнай праграмы ў падтрымку запаведнасці, якую ў 2013 годзе падпісалі нацыянальны парк
            a(href="http://npbp.by/")  “Белавежская пушча”
            |  , грамадская арганізацыя
            a(href="http://www.ptushki.org")  “Ахова птушак Бацькаўшчыны”
            |  і
            a(href="https://fzs.org/")  Франкфурцкае заалагічнае таварыстваа
            |  (Германія). Назіранне за ваўкамі з дапамогай спецыяльных ашыйнікаў – толькі
            a(href="http://www.ptushki.org/info/press/item/17745.html")   адзін з метадаў даследавання.
          p Да гэтага яшчэ ў 2014 годзе ў Белавежскай пушчы былі ўстаноўлены
            b  14 фотапастак
            |  , якія спрацоўваюць на цяпло цела і робяць фотаздымкі і відэазапісы звяроў. Паглядзець самыя цікавыя кадры можна на
            a(href="https://www.facebook.com/search/top/?q=%23bielaviezskaja_pusca_wildlife_channel")  “Канале дзікай прыроды з Белавежскай пушчы”.
          p Задача праекта па вывучэнні ваўкоў –
            b  атрымаць дадзеныя па экалогіі ваўкоў
            |. Як яны перамяшчаюцца, харчуюцца, даведацца пра зносіныў зграі і паміж зграямі. Усвядоміць іх месца ў экасістэме Белавежскай пушчы і зразумець, як на існаванне ваўкоў уплывае запаведны рэжым і абмежаванне гаспадарчай дзейнасці.
            b  На час правядзення даследавання ў пушчы ўсталяваны мараторый на паляванне на ваўкоў
            |, каб засцерагчы памечаных жывёлін ад знішчэння.
          p Другая задача праекта –
            b  расказаць шырокай грамадскасці пра значнасць гэтых жывёл у прыродзе і важнасць іх ахоўвання
            |.
          p Падпісвайцеся на
            a(href="/blog")  “Воўчы блог”
            |  – каб першымі даведвацца пра навіны жыцця таямнічых шэрых драпежнікаў з Белавежскай пушчы!

      if data.participants
        section.info-text
          article
            div.participants-wrap
              h2.h1 Героі праекту

              if data.roles
                select
                  option(value = "") Усе
                  each role in data.roles
                    option(value = role.__ref)= role.name

              each participant in data.participants
                +participant-profile(participant)

  section.banner-social-wrap
    div.container.banner-social
      article
        a(href="https://www.facebook.com/APB.BirdLife.Belarus").btn.green.icon-social-fb
        a(href="https://vk.com/ptushki").btn.green.icon-social-vk
        h2 Сачыце за намі ў сацыяльных сетках
        p
          a(href="#") Далучайцеся да праекту,
          |  каб атрымоўваць навіны па пошце
